.conteiner {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212, 255,1)100% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: poppins;
   
    }

.information {
    text-align: center;

}

.text {
    text-align: center;
    margin-left: 20px
}
.btn {
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
background-color:  rgb(9, 9, 123);
color: white;
}

