.container {
    margin-left: 30px;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium';
   
}

.container ul li a {
font-family: papyrus;
font-size: larger;
color: rgb(9, 9, 88, 0.8);
}

li {
    display: inline;
    margin-left: 30px;
}
.links {
    padding: 10px;
}
a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }