.button {
    font-weight: 70;
      font-size: 70px;
      color: rgb(15, 25, 25);
      background: rgb(246, 255, 0);
      padding: 30px;
      justify-content: center;
      align-items: center;
}