 
* 
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
section{
    position: relative;
    width: 200%;
    height: 50vh;
    background: #131313;
    overflow: hidden; 
} 
@keyframes animate{
  0%{
    background-position: 0 0;
  } 
  100%{
    background-position: 35px -35px;
  } 
}
  @keyframes animate_two{
    0%{
        background-position: 35px -35px;
      
    } 
    100%{
        background-position: 0 0;
    } 
}
.layer1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 250vh;
    
    transform: translate(-50%,-50%) rotate(45deg);
    box-shadow: inset -10px 0 40px rgba(0,0,0,1),
    inset 10px 0 40px rgba(0,0,0,1),
    inset -10px 0 10px rgba(255,255,255,0.25),
    inset 10px 0 10px rgba(255,255,255,0.25),
    0 0 50px rgba(0,0,0,1);
    background: #222 radial-gradient(#6dff73 9px, #000 9px,
    #000 13px, transparent 13px);
    background-size: 35px 35px;
    z-index: 11;
    animation: animate 2s linear infinite;
}
.layer2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 250vh;
    
    transform: translate(-50%,-38%) rotate(45deg);
    box-shadow: inset -10px 0 40px rgba(0,0,0,1),
    inset 10px 0 40px rgba(0,0,0,1),
    inset -10px 0 10px rgba(255,255,255,0.25),
    inset 10px 0 10px rgba(255,255,255,0.25),
    0 0 50px rgba(0,0,0,1);
    background: #222 radial-gradient(#4212e1 9px, #000 9px,
    #000 13px, transparent 13px);
    background-size: 35px 35px;
    z-index: 3;
    animation: animate_two 2s linear infinite;
    
}
.layer3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 250vh;
    
    transform: translate(-50%,-62%) rotate(45deg);
    box-shadow: inset -10px 0 40px rgba(0,0,0,1),
    inset 10px 0 40px rgba(0,0,0,1),
    inset -10px 0 10px rgba(255,255,255,0.25),
    inset 10px 0 10px rgba(255,255,255,0.25),
    0 0 50px rgba(0,0,0,1);
    background: #222 radial-gradient(#e11295 9px, #000 9px,
    #000 13px, transparent 13px);
    background-size: 35px 35px;
    z-index: 3;
    animation: animate_two 2s linear infinite;
}
.layer4{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 250vh;
    
    transform: translate(-50%,-50%) rotate(-45deg);
    box-shadow: inset -10px 0 40px rgba(0,0,0,1),
    inset 10px 0 40px rgba(0,0,0,1),
    inset -10px 0 10px rgba(255,255,255,0.25),
    inset 10px 0 10px rgba(255,255,255,0.25),
    0 0 50px rgba(0,0,0,1);
    background: #222 radial-gradient(#6dff73 9px, #000 9px,
    #000 13px, transparent 13px);
    background-size: 35px 35px;
    z-index: 12;
    animation: animate_two 2s linear infinite;
}
.layer5{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 250vh;
    
    transform: translate(-50%,-38%) rotate(-45deg);
    box-shadow: inset -10px 0 40px rgba(0,0,0,1),
    inset 10px 0 40px rgba(0,0,0,1),
    inset -10px 0 10px rgba(255,255,255,0.25),
    inset 10px 0 10px rgba(255,255,255,0.25),
    0 0 50px rgba(0,0,0,1);
    background: #222 radial-gradient(#4212e1 9px, #000 9px,
    #000 13px, transparent 13px);
    background-size: 35px 35px;
   z-index: 10;
   animation: animate 2s linear infinite;
}
.layer6{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 250vh;
    
    transform: translate(-50%,-62%) rotate(-45deg);
    box-shadow: inset -10px 0 40px rgba(0,0,0,1),
    inset 10px 0 40px rgba(0,0,0,1),
    inset -10px 0 10px rgba(255,255,255,0.25),
    inset 10px 0 10px rgba(255,255,255,0.25),
    0 0 50px rgba(0,0,0,1);
    background: #222 radial-gradient(#e11295 9px, #000 9px,
    #000 13px, transparent 13px);
    background-size: 35px 35px;
    z-index: 10;
    animation: animate 2s linear infinite;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(239, 225, 225);
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container .ring{
position: relative;
width: 150px;
height: 150px;
margin: -30px;
border-radius: 50%;
border: 4px solid transparent;
border-top: 4px solid#24ecff;
animation: animate2 4s linear infinite;

}
@keyframes animate2
{
0%
{
    transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg); 
}
 }

.container .ring::before
{
content:"";
position: absolute;
top: 12px; 
right: 12px;
border-radius: 50%;
width: 15px;
height: 15px;
background: #24ecff;
box-shadow: 0 0 0 5px #24ecff33, 
0 0 0 10px #24ecff22,
0 0 0 20px #24ecff11,
0 0 20px #24ecff,
 0 0 50px #24ecff;
}
.container .ring:nth-child(2)
{
animation: animate2 4s linear infinite;
animation-delay: -1s;
border-top: 4px solid transparent;
//border-left: 4px solid #93ff2d;
}
.container .ring:nth-child(2)::before
{
content:"";
position: absolute;
top: initial;
bottom: 12px; 
left: 12px;
border-radius: 50%;
width: 15px;
height: 15px;
background: #bdff24;
box-shadow: 0 0 0 5px #24ecff33, 
0 0 0 10px #24ecff22,
0 0 0 20px #24ecff11,
0 0 20px #24ff8a,
 0 0 50px #24ff5b;
}
@keyframes animate2
{
0%
{
    transform: rotate(360deg);
}
100%
{
    transform: rotate(0deg); 
}
}
.container .ring:nth-child(3)
{
position: absolute;
top: -66.66px;
animation: animate2 3s linear infinite;
animation-delay: -3s;
border-top: 4px solid transparent;
//border-Left: 4px solid #e11cf8;
}
.container .ring:nth-child(3)::before
{
content:"";
position: absolute;
top: initial;
bottom: 12px; 
left: 12px;
border-radius: 50%;
width: 15px;
height: 15px;
background: #ff24c5;
box-shadow: 0 0 0 5px #24ecff33, 
0 0 0 10px #24ecff22,
0 0 0 20px #24ecff11,
0 0 20px #ff24b2,
 0 0 50px #ff24cc;
}
.container p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -100px;
    letter-spacing: 0.15em;


}